.App {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");

body {
  font-family: "Cinzel Decorative", serif;
}

.displayArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
  background-color: #1a4861;
}

.playAreaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2c5327;
  padding: 20px;
  gap: 20px;
}

.noPlayerButton:hover,
.cardActionButton:hover {
  transition-delay: 0.1s;
  transform: scale(1.5) perspective(1px);
  background-color: #519948;
}
.dealerSection {
  min-width: 200px;
  min-height: 150px;
  display: flex;
  justify-content: center;
}
.playArea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #2c5327;
  border-radius: 2px;
  min-height: 40vh;
  min-width: 80vh;
}

.positionHolder {
  /* background-color: #e6d8a2; */
  position: absolute;
  align-self: center;
  top: 0;
  left: 0;
}

.playerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
  min-height: 300px;
  gap: 40px;
  /* background-color: #519948; */
}

.playerCards {
  position: relative;
  min-height: 200px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  /* background-color: #ff99ff; */
}

.individualCardStack{
  position: relative;
  min-width: 150px;
  border: 2px solid #e6d8a2;
  border-radius: 10px;
  min-height: 180px;
}

.noPlayer {
  display: flex;
  justify-content: center;
}

.noPlayerButtonBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.noPlayerButton {
  color: #e6d8a2;
  font-weight: bold;
  font-size: larger;
  background-color: #2c5327;
  border: 1.5px solid #e6d8a2;
  text-align: center;
  border-radius: 5px;
  min-width: 40px;
  min-height: 40px;
}

.noPlayerHeading,
.noPlayerSubheading {
  margin: none;
  color: #e6d8a2;
}
.infoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: blue; */
  height: 30vh;
  gap: 20px;
  padding: 20px;
}
.blank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.startButtonBox {
  display: flex;
  justify-content: center;
  /* background-color: antiquewhite; */
}
.startButton {
  background-color: #e6d8a2;
  border: 3px solid #2c5327;
  color: #2c5327;
  font-weight: bold;
  font-size: 20px;
  min-width: 100px;
  padding: 10px 20px;
  border-radius: 5px;
}

.playerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  box-shadow: 20px;
  /* border: 2px solid pink; */
}

.playerActions {
  display: flex;
  gap: 10px;
  /* background-color: #ffffff; */
}
.cardActionButton {
  background-color: #2c5327;
  border: 2px solid #e6d8a2;
  border-radius: 5px;
  min-width: 30px;
  font-size: 20px;
  min-height: 30px;
}

.Card {
  width: 80px;
  height: 120px;
  border: 1px solid #000;
  border-radius: 10px;
  background: white;
  position: relative;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}
.corner {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suitSymbol{
  font-size: 10px;
}
.top-left { top: 5px; left: 5px; }
.bottom-right { bottom: 5px; right: 5px; transform: rotate(180deg); }

.pipHolder{
  display: flex;
  background-color: aqua;
}

.pip {
  position: absolute;
  line-height: 1;
  transform: translate(-50%, -50%);
}

.red { color: red; }
.black { color: black; }

.cardValue{
  display: flex;
  padding-left: 3px;
  /* background-color: #2c5327; */
}

.cardSuit{
  display: flex;
  /* background-color: #e6d8a2; */
  font-size: 12px;
}
.cardCountBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 100px;
}
.cardCountButton {
  background-color: #e6d8a2;
  color: #2c5327;
  min-width: 80px;
  border: 3px solid #2c5327;
  border-radius: 5px;
  min-width: 80px;
  font-size: 20px;
}

.cardCount {
  background-color: #2c5327;
  color: #e6d8a2;

  font-weight: bold;
}
