.App {
  text-align: center;
}

.displayArea{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: pink
}

.playArea{
display: flex;
flex-direction: row;
justify-content: center;
background-color: green;
  height: 40vh;
}

.playerSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: darkblue;
}

.Card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100px;
  height: 150px;

}