.App {
  text-align: center;
}
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");

.chars {
  background-color: #e6d8a2;
}
body {
  font-family: "Cinzel Decorative", serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: radial-gradient(circle at center, #006400, #013220);
  overscroll-behavior: none;
}
.displayArea {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  overflow: auto;
  /* background: radial-gradient(circle at center, #006400, #013220); */
}

.title {
  color: white;
}
.playAreaContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  /* background: radial-gradient(circle at center, #006400, #013220); */
  width: 100vh;
  height: 80vh;
  padding-bottom: 0;
}

.noPlayerButton:hover,
.cardActionButton:hover {
  transition-delay: 0.1s;
  transform: scale(1.5) perspective(1px);
  background-color: #519948;
}
.dealerSection {
  min-width: 200px;
  min-height: 150px;
  display: flex;
  justify-content: center;
}

.semiCircle {
  position: relative;
  width: 360px;
  height: 150px;
  border-radius: 0 0 180px 180px;
  /* background-color: #ffffff; */
}

.playArea {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 2px;
 min-height: 20vh;
  min-width: 50vh;
}

.positionHolder {
  /* background-color: #e6d8a2; */
  position: absolute;
  align-self: center;
  /* margin-left: 25px; */
  margin-top: 10px;
  top: 0;
  left: 0;
}

.playerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
  min-height: 300px;
  gap: 40px;
  /* background-color: #013220; */
}

.playerCards {
  position: relative;
  min-height: 200px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  /* background-color: #ff99ff; */
}

.individualCardStack {
  position: relative;
  min-width: 120px;
  border: 2px solid #e6d842;
  border-radius: 10px;
  min-height: 150px;
  /* background-color: #1a4861; */
}

.noPlayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #013220; */
  gap: 30px;
}

.noPlayerButtonBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.startingScreen {
  top: 20px;
}
.startingGameControl {
  /* background-color: #519948; */
  margin-top: 50px;
}
.noPlayerButton {
  color: #e6d8a2;
  font-weight: bold;
  font-size: larger;
  background-color: #2c5327;
  border: 1.5px solid #e6d8a2;
  text-align: center;
  border-radius: 5px;
  min-width: 40px;
  min-height: 40px;
}

.noPlayerButton:disabled {
  color: gray;
  border: 1.5px solid gray;
}

.noPlayerHeading,
.noPlayerSubheading {
  margin: none;
  color: #e6d8a2;
}
.infoSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  gap: 20px;
  padding: 20px;
}
.blank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  background-color: #ffffff;
}


.resetControl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-evenly;
  z-index: 9999;
}

.roundOverText {
  color: #ffffff;
}

.roundOverDisplay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 100px;
}

.roundOverButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  gap: 100px;
}
.startButtonBox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  /* background-color: antiquewhite; */
}
.startButton {
  background-color: #2c5327;
  border: 3px solid #e6d8a2;
  color: #e6d8a2;
  font-weight: bold;
  font-size: 20px;
  min-width: 300px;
  padding: 10px 20px;
  border-radius: 5px;
}
.mutedButton {
  display: flex;
  align-self: center;
  text-align: center;
  background-color: #e6d8a2;
  border: 3px solid #2c5327;
  color: #2c5327;
  font-weight: bold;
  font-size: 20px;
  width: 200px;
  padding: 10px 20px;
  border-radius: 5px;
}

.playerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  box-shadow: 20px;
  /* border: 2px solid pink; */
}

.playerActions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  /* background-color: #ffffff; */
}
.cardActionButton {
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  background: radial-gradient(circle, goldenrod, rgb(174, 169, 4));
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.Card {
  width: 75px;
  height: 95px;
  border: 1px solid #000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  background: white;
  position: relative;
}
.corner {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.suitSymbol {
  font-size: 10px;
}
.top-left {
  top: 5px;
  left: 5px;
}
.bottom-right {
  bottom: 5px;
  right: 5px;
  transform: rotate(180deg);
}

.pipHolder {
  display: flex;
  background-color: aqua;
}

.pip {
  position: absolute;
  line-height: 1;
  transform: translate(-50%, -50%);
}

.red {
  color: red;
}
.black {
  color: black;
}

.cardValue {
  display: flex;
  padding-left: 3px;
  /* background-color: #2c5327; */
}

.cardSuit {
  display: flex;
  /* background-color: #e6d8a2; */
  font-size: 12px;
}
.cardCountBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 100px;
}
.cardCountButton {
  background-color: #e6d8a2;
  color: #2c5327;
  min-width: 80px;
  border: 3px solid #2c5327;
  border-radius: 5px;
  min-width: 80px;
  font-size: 20px;
}

.cardCount {
  background-color: #2c5327;
  color: #e6d8a2;

  font-weight: bold;
}
